*{
    margin: 0px;
    pad: 0px;
}
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
}
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

section,
.banner{
    max-width: 1600px;
    margin: 150px auto;
}

main{
    background-image:url("../assets/bg.png"), linear-gradient(white, rgb(217, 226,203));
    background-repeat:repeat;
    background-size: cover;
    width: 100%;
}

/* shared code start here */
.black{
    color:black;
}
.orange{
    color: orange;
}
.skyblue{
    color:#01ACFD;
}

.font-size1{
    font-size: 1.25rem;
}

.btn-primary{
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    border:none;
    color: aliceblue;
    letter-spacing: 1.5px;
    font-weight:500px;
    border: 2px solid orange;
    cursor: pointer;
}

.btn-primary:hover{
    background:none;
    border: 2px solid palevioletred;
    color: black;
    transition: 0.3s;
}

/* shared code end here */


/* nav bar code start here */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0px auto;
    align-items: center;
    padding-top:30px;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand-name{
    font: bold;
    font-size:1.5rem;
    text-shadow: 5px 5px 5px pink;
}
.navbar-menu-container > ul{
    display: flex;
}
.navbar-menu-container > ul > li{
    list-style: none;
    margin-right: 20px;
}

.navbar-menu-container > ul > li > a{
    text-decoration: none;
}

.navbar-menu-home,
.navbar-menu-about,
.navbar-menu-facilities,
.navbar-menu-admission{
    font-weight:700;
    padding: 10px 15px;
}

.navbar-menu-container > ul > li > a:hover{
    background-color: palevioletred;
    color: aliceblue;
    transition: 0.3s;
    border-radius: 5px;
}
.navbar-menu-facilities{
    color: #05D4DF;
}
.navbar-menu-admission{
    color:#5D58EF;
}

.menu-bar{
    font-size:40px;
    display: none;
}


@media screen and (max-width:576px) {
    .navbar-brand-name > h2{
        display:none;
    }
    .navbar-menu-container{
        display: none;
    }
    .navbar-btn{
        display: none;
    }
    .menu-bar{
        display: block;
        margin-right: 20px;
    }
}
/* mav bar code end here */


/* banner section code start here */
.banner{
    display: flex;
    align-items: center;
    margin: 0p auto;
    gap:50px;
}
.banner-text-container{
    max-width: 700px;
}
.banner-text-container-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-text-container-description{
    margin: 24px 0px;
}

.banner-img-container > img{
    width: 100%;
}


@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
        margin: 20px 16px;
    }
    .banner-text-container-title{
        font-size: 2rem;
    }
    .banner-text-container-description{
        font-size: 0.81rem;
    }

    .btn-primary{
        font-size: 1rem;
    }
}

/* bannner section code end here */


/* curriculum section code start here */
.curriculum-section{
    text-align: center;
}
.curriculum-section > h2{
    font-weight: bold;
    color: black;
    font-size: 2.86rem;
    margin-bottom: 80px;
}
.curriculum-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    text-align: center;
}

.kinder-container{
    background:linear-gradient(#DEF5FF, white, white);
}
.elementary-container{
    background: linear-gradient(#FFF4DC, white, white);
}
.middle-container{
    background: linear-gradient(#e3dcec, white, white);
}

.kinder-btn{
   color:#64C8FF;
   padding: 10px;
   border: none;
   background: none;
   font-weight: bold;
   font-size: 0.9rem;
   margin-top: 30px;
   cursor: pointer;
}
.elementary-btn{
    color:#F0AA00;
    padding: 10px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 30px;
    cursor: pointer;
}
.middle-btn{
    color:#8700FF;
    padding: 10px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
}
.kinder-btn:hover{
    background-color:#64C8FF;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    transition: 0.5
}
.elementary-btn:hover{
    background-color:#F0AA00;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    transition: 0.5s;
}

.middle-btn:hover{
    background-color:#8700FF;
    border-radius: 10px;
    border: none;
    color:aliceblue;
    transition: 0.5s;
}

.curriculum-single-card{
    padding:50px 30px 0px 30px;
    border-radius: 20px;
}

.curriculum-single-card:hover{
    box-shadow: 10px 10px 10px gray;
    transition: 0.5s;
    background: none;
    cursor:grab;
    
}
.curriculum-single-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0px;
}


.curriculum-single-card-description{
    font-size: 1rem;
    color:#808080;
    text-align: justify;
}

.curriculum-icon{
    padding-bottom:50px;
}

.curriculum-icon > i{
    background-color:#F0AA00;
    color: aliceblue;
    padding: 20px;
    width: 20px;
    height: 20px;
    line-height: -5px;
    border-radius:100%;
    font-size: 20px;
    margin-top:50px;
    margin-right: 10px;
    
}
/* curriculum section code end here */


